body {
    background-color: #FFCAAF;
}

h1 {
    background-color: #56638A;
    padding: 10px 10px;

}

li {
    padding: 5px 5px;
}

h3 {
    font-family: "Mohave", sans-serif;
    font-size: 35px;
}
h4 {
    background-color: #56638A;
    padding: 20px 20px;
}
p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    padding: 5px 5px 100px 5px;
}
.sobre-mim {
    font-weight: 600;
    float: left;
    border: red solid 2px;
    border-width: 50%;
}
.nome {
    text-align: center;
    margin: auto;

}

.float {

}

.clear {
    clear: both;
}

#foto-vini {
    border-radius: 70%;
    float: right;
    margin-right: 45%;
    height: 300px;
}

.box-foto {
height: 300px;

}

.box-p {
    margin-top: 30px;
    text-align: center;
    background-size: 50%;
    width: 10%;
    margin-left: 600px;
    padding: 80px 0px 0px 0px;
}

.clista1 {
    font-size: 30px;
}
.clista2 {
    font-size: 27px;
}
.clista3 {
    font-size: 24px;
}
.clista4 {
    font-size: 21px;
}

#botao-rtn {
    background-color: #81A094;
    padding: 12px 12px;
    border-radius: 18px;
    font-weight: 900;


}